
Mod03/DemoFiles/07_HostingISSAndISSExpress/
Mod03/LabFiles
Mod04/DemoCode/04_DependencyInjection/
Mod04/DemoCode/03_CustomFiltersAndFormatters/
Mod05/
Mod06/




Mod02/demo-02-02/Starter/obj/
Mod02/demo-02-02/Starter/bin/
Mod02/demo-02-03/UsingLINQtoEntities/obj/
Mod02/demo-02-03/UsingLINQtoEntities/bin/
Mod02/demo-02-04/StoredProcedure/obj/
Mod02/demo-02-04/StoredProcedure/bin/
Mod02/demo-02-04/StoredProcedure/obj/
Mod02/demo-02-04/StoredProcedure/bin/
Mod02/demo-02-05/CRUD/obj/
Mod02/demo-02-05/CRUD/bin/
Mod02/demo-02-06/InMemory/InMemory.Dal/obj/
Mod02/demo-02-06/InMemory/InMemory.Dal/bin/
Mod02/demo-02-06/InMemory/InMemory.Dal.Test/obj/
Mod02/demo-02-06/InMemory/InMemory.Dal.Test/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal/obj/
Mod02/demo-02-07/SQLite/Sqlite.Dal/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/obj/
Mod02/Lab-02-02/DAL.Test/bin/
Mod02/Lab-02-02/DAL.Test/obj/
Mod02/Lab-02-02/DAL/bin/
Mod02/Lab-02-02/DAL/obj/
Mod02/Lab-02-02/DatabaseTester/bin/
Mod02/Lab-02-02/DatabaseTester/obj/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/bin/
Mod02/lab-02-01/DAL/obj/
Mod02/lab-02-01/DAL/bin/
Mod02/lab-02-01/DatabaseTester/bin/
Mod02/lab-02-01/DatabaseTester/obj/
Mod03/DemoFiles/01_FirstWebApi/bin/
Mod03/DemoFiles/01_FirstWebApi/obj/

Mod03/DemoFiles/02_JavaScriptClient/bin/
Mod03/DemoFiles/02_JavaScriptClient/obj/

Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Client/bin/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Client/obj/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Host/obj/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Host/bin/
Mod03/DemoFiles/04_ThrowHttpResponseException/bin/
Mod03/DemoFiles/04_ThrowHttpResponseException/obj/
Mod03/DemoFiles/05_TestingHttpWithSwagger/obj/
Mod03/DemoFiles/05_TestingHttpWithSwagger/bin/
Mod03/DemoFiles/06_AutoRest/AutoRest.Sdk/obj/
Mod03/DemoFiles/06_AutoRest/AutoRest.Sdk/bin/
Mod03/DemoFiles/06_AutoRest/AutoRest.Client/obj/
Mod03/DemoFiles/06_AutoRest/AutoRest.Client/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.DAL/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.DAL/obj/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.Service/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.Service/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Client/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Service/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.DAL/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Client/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Service/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.DAL/obj/




Mod01/mod-01-04/obj/
Mod01/mod-01-04/bin/
Mod01/laboratorio/obj/
Mod01/laboratorio/bin/
