Mod02/demo-02-02/Starter/obj/
Mod02/demo-02-02/Starter/bin/
Mod02/demo-02-03/UsingLINQtoEntities/obj/
Mod02/demo-02-03/UsingLINQtoEntities/bin/
Mod02/demo-02-04/StoredProcedure/obj/
Mod02/demo-02-04/StoredProcedure/bin/
Mod02/demo-02-04/StoredProcedure/obj/
Mod02/demo-02-04/StoredProcedure/bin/
Mod02/demo-02-05/CRUD/obj/
Mod02/demo-02-05/CRUD/bin/
Mod02/demo-02-06/InMemory/InMemory.Dal/obj/
Mod02/demo-02-06/InMemory/InMemory.Dal/bin/
Mod02/demo-02-06/InMemory/InMemory.Dal.Test/obj/
Mod02/demo-02-06/InMemory/InMemory.Dal.Test/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal/obj/
Mod02/demo-02-07/SQLite/Sqlite.Dal/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/bin/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/obj/
Mod02/Lab-02-02/DAL.Test/bin/
Mod02/Lab-02-02/DAL.Test/obj/
Mod02/Lab-02-02/DAL/bin/
Mod02/Lab-02-02/DAL/obj/
Mod02/Lab-02-02/DatabaseTester/bin/
Mod02/Lab-02-02/DatabaseTester/obj/
Mod02/demo-02-07/SQLite/Sqlite.Dal.Test/bin/
Mod02/lab-02-01/DAL/obj/
Mod02/lab-02-01/DAL/bin/
Mod02/lab-02-01/DatabaseTester/bin/
Mod02/lab-02-01/DatabaseTester/obj/
Mod03/DemoFiles/01_FirstWebApi/bin/
Mod03/DemoFiles/01_FirstWebApi/obj/

Mod03/DemoFiles/02_JavaScriptClient/bin/
Mod03/DemoFiles/02_JavaScriptClient/obj/

Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Client/bin/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Client/obj/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Host/obj/
Mod03/DemoFiles/03_HttpClientApplication/HttpClientApplication.Host/bin/
Mod03/DemoFiles/04_ThrowHttpResponseException/bin/
Mod03/DemoFiles/04_ThrowHttpResponseException/obj/
Mod03/DemoFiles/05_TestingHttpWithSwagger/obj/
Mod03/DemoFiles/05_TestingHttpWithSwagger/bin/
Mod03/DemoFiles/06_AutoRest/AutoRest.Sdk/obj/
Mod03/DemoFiles/06_AutoRest/AutoRest.Sdk/bin/
Mod03/DemoFiles/06_AutoRest/AutoRest.Client/obj/
Mod03/DemoFiles/06_AutoRest/AutoRest.Client/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.DAL/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.DAL/obj/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.Service/bin/
Mod04/DemoCode/01_ErrorHandlingMiddleware/BlueYonder.Flights.Service/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Client/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Service/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.DAL/bin/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Client/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.Service/obj/
Mod04/DemoCode/02_AsynchronousActions/BlueYonder.Flights.DAL/obj/




Mod01/mod-01-04/obj/
Mod01/mod-01-04/bin/
Mod01/laboratorio/obj/
Mod01/laboratorio/bin/
Mod03/LabFiles/Starter/BlueYonder.Hotels.Client/bin/
Mod03/LabFiles/Starter/BlueYonder.Hotels.Client/obj/
Mod03/LabFiles/Starter/DAL/obj/
Mod03/LabFiles/Starter/DAL/bin/
Mod03/LabFiles/Starter/BlueYonder.Hotels.Service/obj/
Mod03/LabFiles/Starter/BlueYonder.Hotels.Service/bin

Mod03/DemoFiles/07_HostingISSAndISSExpress/07_HostingISSAndISSExpress/HostingISSAndISSExpress.Host/bin/
Mod03/DemoFiles/07_HostingISSAndISSExpress/07_HostingISSAndISSExpress/HostingISSAndISSExpress.Host/obj/
Mod03/DemoFiles/07_HostingISSAndISSExpress/07_HostingISSAndISSExpress/pubs/
Mod03/DemoFiles/07_HostingISSAndISSExpress/07_HostingISSAndISSExpress/pubs - copia/
Mod04/LabFiles/Lab1/Starter/BlueYonder.Hotels/BlueYonder.Hotels.DAL/obj/
Mod04/LabFiles/Lab1/Starter/BlueYonder.Hotels/BlueYonder.Hotels.DAL/bin/
Mod04/LabFiles/Lab1/Starter/BlueYonder.Hotels/BlueYonderHotels.Service/obj/
Mod04/LabFiles/Lab1/Starter/BlueYonder.Hotels/BlueYonderHotels.Service/bin/
Mod04/DemoCode/04_DependencyInjection/Starter/BlueYonder.Flights.Service/bin/
Mod04/DemoCode/04_DependencyInjection/Starter/BlueYonder.Flights.Service/obj/
Mod04/DemoCode/04_DependencyInjection/Starter/BlueYonder.Flights.DAL/obj/
Mod04/DemoCode/04_DependencyInjection/Starter/BlueYonder.Flights.DAL/bin/
Mod04/DemoCode/03_CustomFiltersAndFormatters/CustomFiltersAndFormatters/obj/
Mod04/DemoCode/03_CustomFiltersAndFormatters/CustomFiltersAndFormatters/bin/
Mod05/DemoFiles/01_HostInWindowsService/BlueYonder.Hotels.Service/bin/
Mod05/DemoFiles/01_HostInWindowsService/BlueYonder.Hotels.Service/obj/
Mod05/DemoFiles/01_HostInWindowsService/BlueYonder.Hotels.Service/publish/
Mod05/DemoFiles/01_HostInWindowsService/publish/
Mod05/DemoFiles/01HostInWindowsService/BlueYonder.Hotels.Service/bin/
Mod05/DemoFiles/01HostInWindowsService/BlueYonder.Hotels.Service/obj/
Mod05/DemoFiles/02_HostInIIS/BlueYonder.Hotels.Service/bin/
Mod05/DemoFiles/02_HostInIIS/BlueYonder.Hotels.Service/obj/
Mod05/DemoFiles/03_HostInAzure/BlueYonder.Hotels/obj/
Mod05/DemoFiles/03_HostInAzure/BlueYonder.Hotels/bin/
Mod05/DemoFiles/04_Host_In_Docker/Host_In_Docker/bin/
Mod05/DemoFiles/04_Host_In_Docker/Host_In_Docker/obj/
Mod05/Labfiles/Exercise1/Starter/BlueYonder.Flights.Service/bin/
Mod05/Labfiles/Exercise1/Starter/BlueYonder.Flights.Service/obj/
Mod05/Labfiles/Exercise2/Host In Azure/BlueYonder.Flights.Service/bin/
Mod05/Labfiles/Exercise2/Host In Azure/BlueYonder.Flights.Service/obj/
Mod05/Labfiles/Exercise2/Host In Azure/BlueYonder.Flights.Service/bin/
Mod05/Labfiles/Exercise2/Host In Azure/BlueYonder.Flights.Service/obj/
Mod05/Labfiles/Exercise3/Starter/BlueYonder.Hotels.Service/BlueYonder.Hotels.Service/bin/
Mod05/Labfiles/Exercise3/Starter/BlueYonder.Hotels.Service/BlueYonder.Hotels.Service/obj/
Mod06/DemoFiles/demo0601/MyWebSite/bin/
Mod06/DemoFiles/demo0601/MyWebSite/obj/
Mod06/DemoFiles/demo0602/Demo2Project/bin/
Mod06/DemoFiles/demo0602/Demo2Project/obj/
Mod06/DemoFiles/demo0604/SimpleServiceForDeploymentSlots/bin/
Mod06/DemoFiles/demo0604/SimpleServiceForDeploymentSlots/obj/
Mod06/DemoFiles/demo0605/MyApp/_.git/
Mod06/DemoFiles/demo0605/MyApp/MyProject/obj/
Mod06/DemoFiles/demo0605/MyApp/MyProject/bin/
Mod07/DemoFiles/Mod7Demo6Redis/BlueYonder.Hotels.Service/bin/
Mod07/DemoFiles/Mod7Demo6Redis/BlueYonder.Hotels.Service/obj/
Mod07/DemoFiles/Mod7Demo1Blob/bin/
Mod07/DemoFiles/Mod7Demo1Blob/obj/


